@import url("https://fonts.googleapis.com/css?family=Raleway:400,800");
body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #3c3d3c;
  background-color: #fff;
  margin: 0;
  padding: 0; }

.group:after {
  content: "";
  display: table;
  clear: both; }

#root {
  width: 1280px;
  margin: 0 auto 30px; }

header {
  margin: 30px 0;
  position: relative; }

h1 {
  float: left;
  width: 289px;
  height: 132px;
  margin: 0 0 0 10px;
  text-indent: -9999px;
  background: url("../img/logo.png") no-repeat;
  background-image: url("../img/logo.svg");
  background-size: 289px 132px; }
  h1 a {
    display: block;
    height: 100%; }

#burger {
  display: none; }

nav {
  float: left;
  position: absolute;
  right: 0;
  bottom: 0; }
  nav ul {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 600;
    list-style: none; }
    nav ul li {
      display: inline-block; }
    nav ul a {
      display: block;
      padding: 0 15px;
      text-decoration: none;
      color: inherit; }
    nav ul .menu-text {
      font-family: "Raleway", sans-serif;
      font-weight: 600; }
    nav ul a:hover {
      color: #f8d608; }
    nav ul a:before {
      display: block;
      text-align: center; }

.content .item-01 {
  background: url("../img/cambiance.png") no-repeat; }

.content .item-02 {
  background: url("../img/bouwtekeningen-pakket.png") no-repeat; }

.content .item-03 {
  background: url("../img/stockhambauwer.png") no-repeat; }

.content .item-04 {
  background: url("../img/negative-energie-and-wounds.png") no-repeat; }

.content .item-05 {
  background: url("../img/mood-problems.png") no-repeat; }

.content .item-06 {
  background: url("../img/the-spectrums-of-our-resources.jpg") no-repeat; }

.content .item-07 {
  background: url("../img/decisions-the-definition-of-life.png") no-repeat; }

.content .item-08 {
  background: url("../img/mature-boundary.png") no-repeat; }

.content .item-09 {
  background: url("../img/observing-ego.png") no-repeat; }

.content .item-10 {
  background: url("../img/anatomy-of-a-problem.png") no-repeat; }

.content .item-11 {
  background: url("../img/spectrum-decision-making.jpg") no-repeat; }

.content .item-12 {
  background: url("../img/oisterwijk-in-beeld.png") no-repeat; }

.content .item-13 {
  background: url("../img/morito.png") no-repeat; }

.content .item-14 {
  background: url("../img/the-excrement.png") no-repeat; }

.content .item-15 {
  background: url("../img/kleur-en-stijladvies.png") no-repeat; }

.content .item-16 {
  background: url("../img/de-voorste-stroom.png") no-repeat; }

.content .item {
  display: block;
  float: left;
  width: 320px;
  background-color: #3c3d3c; }

.content .item.double:nth-child(2), .content .item.double:nth-child(3), .content .item.double:nth-child(6), .content .item.double:nth-child(7),
.content .item.double:nth-child(10), .content .item.double:nth-child(11), .content .item.double:nth-child(14), .content .item.double:nth-child(15) {
  background-color: #fcfbee; }

.content .item.single {
  position: relative; }
  .content .item.single:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: 140.625%; }
  .content .item.single > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.content .item.double {
  position: relative;
  width: 640px; }
  .content .item.double:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: 70.3125%; }
  .content .item.double > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

/* for high resolution display */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .item.single {
    background-size: 320px 450px; }
  .item.double {
    background-size: 640px 450px; }
  .item.item-01 {
    background-image: url("../img/cambiance-ret.png"); }
  .item.item-02 {
    background-image: url("../img/bouwtekeningen-pakket-ret.png"); }
  .item.item-03 {
    background-image: url("../img/stockhambauwer-ret.png"); }
  .item.item-04 {
    background-image: url("../img/negative-energie-and-wounds-ret.png"); }
  .item.item-05 {
    background-image: url("../img/mood-problems-ret.png"); }
  .item.item-06 {
    background-image: url("../img/the-spectrums-of-our-resources-ret.jpg"); }
  .item.item-07 {
    background-image: url("../img/decisions-the-definition-of-life-ret.png"); }
  .item.item-08 {
    background-image: url("../img/mature-boundary-ret.png"); }
  .item.item-09 {
    background-image: url("../img/observing-ego-ret.png"); }
  .item.item-10 {
    background-image: url("../img/anatomy-of-a-problem-ret.png"); }
  .item.item-11 {
    background-image: url("../img/spectrum-decision-making-ret.jpg"); }
  .item.item-12 {
    background-image: url("../img/oisterwijk-in-beeld-ret.png"); }
  .item.item-13 {
    background-image: url("../img/morito-ret.png"); }
  .item.item-14 {
    background-image: url("../img/the-excrement-ret.png"); }
  .item.item-15 {
    background-image: url("../img/kleur-en-stijladvies-ret.png"); }
  .item.item-16 {
    background-image: url("../img/de-voorste-stroom-ret.png"); } }

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  #root {
    width: 1024px; }
  nav ul {
    font-size: 21px; }
  .content .item {
    width: 256px;
    background-size: contain; }
  .content .item.double {
    width: 512px; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #root {
    width: 768px; }
  header {
    margin: 20px 0; }
  h1 {
    width: 200px;
    height: 91px;
    background-size: 200px 91px; }
  nav ul {
    font-size: 15px; }
  .content .item {
    width: 192px;
    background-size: contain; }
  .content .item.double {
    width: 384px; } }

@media only screen and (max-width: 767px) {
  #root {
    width: 100%; }
  header {
    margin: 30px 0; }
  h1 {
    float: none;
    width: 100%;
    text-align: center;
    background-position-x: center;
    margin-bottom: 20px;
    margin-left: 0; }
  #burger {
    display: block;
    text-align: center;
    font-weight: 800;
    background-color: #3c3d3c;
    color: #fcfbee;
    padding: 20px 0;
    font-size: 22px;
    cursor: pointer; }
    #burger span {
      margin-right: 5px; }
  nav {
    display: none;
    float: none;
    position: static; }
    nav ul {
      text-align: center; }
      nav ul li {
        display: block;
        background-color: #fcfbee; }
      nav ul a {
        padding: 10px 0; }
  .content .item {
    width: 50%;
    background-size: cover; }
  .content .item.double {
    width: 100%; }
  .content .item.double:nth-child(odd) {
    background-color: #3c3d3c; }
  .content .item.double:nth-child(even) {
    background-color: #fcfbee; } }

@media only screen and (max-width: 479px) {
  .content .item.single {
    width: 100%; } }
