@import url("https://fonts.googleapis.com/css?family=Raleway:400,800");
*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #3c3d3c;
  background-color: #fff;
  margin: 0;
  padding: 0; }

.group:after {
  content: "";
  display: table;
  clear: both; }

#root {
  width: 1280px;
  margin: 0 auto; }

header {
  margin: 30px 0;
  position: relative; }

h1 {
  float: left;
  width: 289px;
  height: 132px;
  margin: 0 0 0 20px;
  text-indent: -9999px;
  background: url("../img/logo.png") no-repeat;
  background-size: 289px 132px; }
  h1 a {
    display: block;
    height: 100%; }

#burger {
  display: none; }

nav {
  float: left;
  position: absolute;
  right: 0;
  bottom: 0; }
  nav ul {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 600;
    list-style: none; }
    nav ul li {
      display: inline-block; }
    nav ul a {
      display: block;
      padding: 0 15px;
      text-decoration: none;
      color: inherit;
      -webkit-transition: color 0.3s;
      /* For Safari 3.1 to 6.0 */
      transition: color 0.3s; }
    nav ul .menu-text {
      font-family: "Raleway", sans-serif;
      font-weight: 600; }
    nav ul a:hover {
      color: #f8d608; }
    nav ul a:before {
      display: block;
      text-align: center; }
    nav ul a.active, nav ul a.active:hover {
      color: #939394;
      cursor: default; }
    nav ul a.empty, nav ul a.empty:hover {
      display: none; }

.content a {
  color: #f8d608;
  text-decoration: none; }

.content a:hover {
  color: #939394; }

.content .info, .content .video {
  overflow: auto;
  display: block;
  float: left;
  position: relative; }

.content .info {
  -webkit-transition: background 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: background 0.5s; }

.content .info:hover {
  background-color: rgba(248, 214, 8, 0.9); }

.content .info span {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 50px;
  font-weight: 600;
  color: transparent;
  -webkit-transition: color 0.7s;
  /* For Safari 3.1 to 6.0 */
  transition: color 0.7s; }

.content .info span.passie, .content .info span.recent, .content .info span.voormalig, .content .info span.schoolwerk {
  color: transparent;
  -webkit-transition: color 0.7s;
  /* For Safari 3.1 to 6.0 */
  transition: color 0.7s; }

.content .info span:hover {
  color: #3c3d3c; }

.content .info span.passie:hover {
  color: #ae2924; }

.content .info span.recent:hover {
  color: #3c3d3c; }

.content .info span.schoolwerk:hover {
  color: #fcfbee; }

.content .info span.voormalig:hover {
  color: #646565; }

.content .video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.content .single {
  width: 320px;
  float: left; }

.content .double {
  width: 640px;
  float: left;
  max-height: 450px; }

.content .double.text {
  padding: 20px;
  height: 450px; }
  .content .double.text h2 {
    margin-top: 0; }
  .content .double.text ul {
    margin-bottom: 25px;
    max-width: 400px; }
  .content .double.text .veld {
    width: 150px;
    float: left; }
  .content .double.text .gegevens {
    float: left;
    width: 150px; }
  .content .double.text .right {
    float: right; }

.content .item-01 {
  background: url("../img/port/cambiance.png") no-repeat; }

.content .item-02 {
  background: url("../img/port/bouwtekeningen-pakket.png") no-repeat; }

.content .item-03 {
  background: url("../img/port/stockhambauer.png") no-repeat; }

.content .item-04 {
  background: url("../img/port/negative-energie-and-wounds.png") no-repeat; }

.content .item-05 {
  background: url("../img/port/mood-problems.png") no-repeat; }

.content .item-06 {
  background: url("../img/port/the-spectrums-of-our-resources.jpg") no-repeat; }

.content .item-07 {
  background: url("../img/port/decisions-the-definition-of-life.png") no-repeat; }

.content .item-08 {
  background: url("../img/port/mature-boundary.png") no-repeat; }

.content .item-09 {
  background: url("../img/port/observing-ego.png") no-repeat; }

.content .item-10 {
  background: url("../img/port/anatomy-of-a-problem.png") no-repeat; }

.content .item-11 {
  background: url("../img/port/spectrum-decision-making.jpg") no-repeat; }

.content .item-12 {
  background: url("../img/port/oisterwijk-in-beeld.png") no-repeat; }

.content .item-13 {
  background: url("../img/port/morito.png") no-repeat; }

.content .item-14 {
  background: url("../img/port/the-excrement.png") no-repeat; }

.content .item-15 {
  background: url("../img/port/kleur-en-stijladviezen.png") no-repeat; }

.content .item-16 {
  background: url("../img/port/de-voorste-stroom.png") no-repeat; }

.content .item-17 {
  background: url("../img/port/databases.png") no-repeat; }

.content .item-18 {
  background: url("../img/port/game-programming.png") no-repeat; }

.content .item-19 {
  background: url("../img/port/gamejam.png") no-repeat; }

.content .item-20 {
  background: url("../img/port/oculus.jpg") no-repeat; }

.content .item-21 {
  background: url("../img/develop-skills.png") no-repeat; }

.content .item-22 {
  background: url("../img/design-skills.png") no-repeat; }

.content .item-23 {
  background: url("../img/robbert-de-man.jpg") no-repeat; }

.content .item-01-res {
  background: url("../img/res/responsive-cambiance.png") no-repeat; }

.content .item-02-res {
  background: url("../img/res/responsive-bouwtekeningen-pakket.png") no-repeat; }

.content .item-03-res {
  background: url("../img/res/responsive-stockhambauer.png") no-repeat; }

.content .item-12-res {
  background: url("../img/res/responsive-oisterwijk-in-beeld.png") no-repeat; }

.content .item-13-res {
  background: url("../img/res/responsive-morito.png") no-repeat; }

.content .item-15-res {
  background: url("../img/res/responsive-kleur-en-stijladviezen.png") no-repeat; }

.content .item-16-res {
  background: url("../img/res/responsive-de-voorste-stroom.png") no-repeat; }

.content .item {
  z-index: -1;
  background-color: #fcfbee; }

.content .item.single {
  position: relative; }
  .content .item.single:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: 140.625%; }
  .content .item.single > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.content .item.double {
  position: relative; }
  .content .item.double:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: 70.3125%; }
  .content .item.double > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.content ul {
  margin: 0;
  padding: 0; }
  .content ul li {
    display: block;
    margin-bottom: 5px; }
  .content ul li:before {
    margin-right: 5px;
    color: #f8d608; }
  .content ul span {
    font-family: "Raleway", sans-serif; }

/* for high resolution display */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .item.single {
    background-size: 320px 450px; }
  .item.double {
    background-size: 640px 450px; }
  .item.item-01 {
    background-image: url("../img/port/cambiance-ret.png"); }
  .item.item-02 {
    background-image: url("../img/port/bouwtekeningen-pakket-ret.png"); }
  .item.item-03 {
    background-image: url("../img/port/stockhambauer-ret.png"); }
  .item.item-04 {
    background-image: url("../img/port/negative-energie-and-wounds-ret.png"); }
  .item.item-05 {
    background-image: url("../img/port/mood-problems-ret.png"); }
  .item.item-06 {
    background-image: url("../img/port/the-spectrums-of-our-resources-ret.jpg"); }
  .item.item-07 {
    background-image: url("../img/port/decisions-the-definition-of-life-ret.png"); }
  .item.item-08 {
    background-image: url("../img/port/mature-boundary-ret.png"); }
  .item.item-09 {
    background-image: url("../img/port/observing-ego-ret.png"); }
  .item.item-10 {
    background-image: url("../img/port/anatomy-of-a-problem-ret.png"); }
  .item.item-11 {
    background-image: url("../img/port/spectrum-decision-making-ret.jpg"); }
  .item.item-12 {
    background-image: url("../img/port/oisterwijk-in-beeld-ret.png"); }
  .item.item-13 {
    background-image: url("../img/port/morito-ret.png"); }
  .item.item-14 {
    background-image: url("../img/port/the-excrement-ret.png"); }
  .item.item-15 {
    background-image: url("../img/port/kleur-en-stijladviezen-ret.png"); }
  .item.item-16 {
    background-image: url("../img/port/de-voorste-stroom-ret.png"); }
  .item.item-17 {
    background-image: url("../img/port/databases-ret.png"); }
  .item.item-18 {
    background-image: url("../img/port/game-programming-ret.png"); }
  .item.item-19 {
    background-image: url("../img/port/gamejam-ret.png"); }
  .item.item-21 {
    background-image: url("../img/develop-skills-ret.png"); }
  .item.item-22 {
    background-image: url("../img/design-skills-ret.png"); }
  .content .item-01-res {
    background-image: url("../img/res/responsive-cambiance-ret.png"); }
  .content .item-02-res {
    background-image: url("../img/res/responsive-bouwtekeningen-pakket-ret.png"); }
  .content .item-03-res {
    background-image: url("../img/res/responsive-stockhambauer-ret.png"); }
  .content .item-12-res {
    background-image: url("../img/res/responsive-oisterwijk-in-beeld-ret.png"); }
  .content .item-13-res {
    background-image: url("../img/res/responsive-morito-ret.png"); }
  .content .item-15-res {
    background-image: url("../img/res/responsive-kleur-en-stijladviezen-ret.png"); }
  .content .item-16-res {
    background-image: url("../img/res/responsive-de-voorste-stroom-ret.png"); } }

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  body {
    font-size: 14px; }
  #root {
    width: 1024px; }
  nav ul {
    font-size: 21px; }
  .content .info span {
    font-size: 40px; }
  .content .single {
    width: 256px;
    background-size: contain; }
  .content .double {
    width: 512px;
    max-height: 360px;
    background-size: contain; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #root {
    width: 768px; }
  header {
    margin: 20px 0; }
  h1 {
    width: 200px;
    height: 91px;
    margin-left: 10px;
    background-size: 200px 91px; }
  nav ul {
    font-size: 15px; }
  .content .info span {
    font-size: 30px; }
  .content h2 {
    font-size: 15px; }
  .content .single {
    width: 192px;
    background-size: contain; }
  .content .double {
    width: 384px;
    max-height: 270px;
    background-size: contain; }
  .content .double.text {
    font-size: 11px;
    padding: 10px; }
    .content .double.text ul {
      margin-bottom: 15px; }
      .content .double.text ul li {
        margin-bottom: 3px; } }

@media only screen and (max-width: 767px) {
  #root {
    width: 100%;
    margin-bottom: 60px; }
  header {
    margin: 30px 0; }
  h1 {
    float: none;
    width: 100%;
    text-align: center;
    background-position-x: center;
    margin-left: 0; }
  nav {
    float: none;
    position: fixed;
    text-align: center;
    left: 0;
    z-index: 999;
    height: 60px;
    line-height: 80px;
    -webkit-box-shadow: 0px -5px 30px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px -5px 30px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 0px -5px 30px 0px rgba(50, 50, 50, 0.2); }
    nav ul {
      background-color: #fcfbee; }
      nav ul .fa {
        font-size: 20px; }
      nav ul .menu-text {
        font-size: 12px; }
  .content .info span {
    font-size: 40px; }
  .content .info, .content .video {
    float: none;
    width: 100%; }
  .content .item {
    width: 100%;
    background-size: contain; }
  .content .item.double, .content .double.text {
    width: 100%;
    height: auto; }
  .content .double.text {
    max-height: none; }
  .content .double.text h2 {
    text-align: center; }
  .content .item.double:nth-child(odd) {
    background-color: #3c3d3c; }
  .content .item.double:nth-child(even) {
    background-color: #fcfbee; } }

@media only screen and (max-width: 479px) {
  nav {
    height: 60px;
    line-height: 80px; }
    nav ul .fa {
      font-size: 18px; }
    nav ul .menu-text {
      font-size: 10px; }
    nav ul a {
      padding: 0 8px; }
  .content .info span {
    font-size: 30px; }
  .content .item.single {
    width: 100%; }
  .content .double.text .veld, .content .double.text .gegevens {
    float: none;
    width: 100%;
    text-align: center; }
  .content .double.text .gegevens {
    margin-bottom: 10px; } }

@media only screen and (max-width: 359px) {
  nav ul .menu-text {
    font-size: 9px; }
  nav ul a {
    padding: 0 5px; }
  .content .info span {
    font-size: 25px; } }
