@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before{
    display: block;
    content: " ";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

$passion: #ae2924;

$bg-color: #fff;
$coconut-cream-color: #fcfbee;
$light-grey-color: #939394;
$grey-color: #646565;
$black-color: #3c3d3c;
$gold-color: #f8d608;
$gold-color-90: rgba(248, 214, 8, 0.9);
$font: 'Raleway', sans-serif;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: $font;
  font-size: 18px;
  color: $black-color;
  background-color: $bg-color;
  margin: 0;
  padding: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

#root {
  width: 1280px;
  margin: 0 auto;
}

header {
  margin: 30px 0;
  position: relative;
}

h1 {
  float: left;
  width: 289px;
  height: 132px;
  margin: 0 0 0 20px;
  text-indent: -9999px;
  background: url("../img/logo.png") no-repeat;
  //background-image: url("../img/logo.svg");
  background-size: 289px 132px;

  a {
    display: block;
    height: 100%;
  }
}

#burger {
  display: none;
}

nav {
  float: left;
  position: absolute;
  right: 0;
  bottom: 0;

  ul {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 600;
    list-style: none;

    li {
      display: inline-block;
    }
    a {
      display: block;
      padding: 0 15px;
      text-decoration: none;
      color: inherit;

      -webkit-transition: color 0.3s; /* For Safari 3.1 to 6.0 */
      transition: color 0.3s;
    }
    .menu-text {
      font-family: $font;
      font-weight: 600;
    }
    a:hover {
      color: #f8d608;
    }
    a:before {
      display: block;
      text-align: center;
    }
    a.active, a.active:hover {
      color: $light-grey-color;
      cursor: default;
    }
    a.empty, a.empty:hover {
      display: none;
    }
  }
}

.content {

  a {
    color: $gold-color;
    text-decoration: none;
  }

  a:hover {
    color: $light-grey-color;
  }

  .info, .video {
    overflow: auto;
    display: block;
    float: left;
    position: relative;
  }

  .info {
    -webkit-transition: background 0.5s; /* For Safari 3.1 to 6.0 */
    transition: background 0.5s;
  }

  .info:hover {
    background-color: $gold-color-90;
  }

  .info span {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 50px;
    font-weight: 600;
    //line-height: 20px;
    color: transparent;

    -webkit-transition: color 0.7s; /* For Safari 3.1 to 6.0 */
    transition: color 0.7s;
  }

  .info span.passie, .info span.recent, .info span.voormalig, .info span.schoolwerk {
    color: transparent;

    -webkit-transition: color 0.7s; /* For Safari 3.1 to 6.0 */
    transition: color 0.7s;
  }

  .info span:hover {
    color: $black-color;
  }

  .info span.passie:hover {
    color: $passion;
  }

  .info span.recent:hover {
    color: $black-color;
  }

  .info span.schoolwerk:hover {
    color: $coconut-cream-color;
  }

  .info span.voormalig:hover {
    color: $grey-color;
  }

  .video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .single {
    width: 320px;
    float: left;
  }
  .double {
    width: 640px;
    float: left;
    max-height: 450px;
  }
  .double.text {
    padding: 20px;
    height: 450px;

    h2 {
      margin-top: 0;
    }

    ul {
      margin-bottom: 25px;
      max-width: 400px;
    }

    .veld {
      width: 150px;
      float: left;
    }

    .gegevens {
      float: left;
      width: 150px;
    }

    .right {
      float: right;
    }
  }

  .item-01 { background: url("../img/port/cambiance.png") no-repeat; }
  .item-02 { background: url("../img/port/bouwtekeningen-pakket.png") no-repeat; }
  .item-03 { background: url("../img/port/stockhambauer.png") no-repeat; }
  .item-04 { background: url("../img/port/negative-energie-and-wounds.png") no-repeat; }
  .item-05 { background: url("../img/port/mood-problems.png") no-repeat; }
  .item-06 { background: url("../img/port/the-spectrums-of-our-resources.jpg") no-repeat; }
  .item-07 { background: url("../img/port/decisions-the-definition-of-life.png") no-repeat; }
  .item-08 { background: url("../img/port/mature-boundary.png") no-repeat; }
  .item-09 { background: url("../img/port/observing-ego.png") no-repeat; }
  .item-10 { background: url("../img/port/anatomy-of-a-problem.png") no-repeat; }
  .item-11 { background: url("../img/port/spectrum-decision-making.jpg") no-repeat; }
  .item-12 { background: url("../img/port/oisterwijk-in-beeld.png") no-repeat; }
  .item-13 { background: url("../img/port/morito.png") no-repeat; }
  .item-14 { background: url("../img/port/the-excrement.png") no-repeat; }
  .item-15 { background: url("../img/port/kleur-en-stijladviezen.png") no-repeat; }
  .item-16 { background: url("../img/port/de-voorste-stroom.png") no-repeat; }
  .item-17 { background: url("../img/port/databases.png") no-repeat; }
  .item-18 { background: url("../img/port/game-programming.png") no-repeat; }
  .item-19 { background: url("../img/port/gamejam.png") no-repeat; }
  .item-20 { background: url("../img/port/oculus.jpg") no-repeat; }
  .item-21 { background: url("../img/develop-skills.png") no-repeat; }
  .item-22 { background: url("../img/design-skills.png") no-repeat; }
  .item-23 { background: url("../img/robbert-de-man.jpg") no-repeat; }


  .item-01-res { background: url("../img/res/responsive-cambiance.png") no-repeat; }
  .item-02-res { background: url("../img/res/responsive-bouwtekeningen-pakket.png") no-repeat; }
  .item-03-res { background: url("../img/res/responsive-stockhambauer.png") no-repeat; }
  .item-12-res { background: url("../img/res/responsive-oisterwijk-in-beeld.png") no-repeat; }
  .item-13-res { background: url("../img/res/responsive-morito.png") no-repeat; }
  .item-15-res { background: url("../img/res/responsive-kleur-en-stijladviezen.png") no-repeat; }
  .item-16-res { background: url("../img/res/responsive-de-voorste-stroom.png") no-repeat; }

  .item {
    z-index: -1;
    background-color: $coconut-cream-color;
  }

  .item.single {
    @include aspect-ratio(32,45);
  }
  .item.double {
    @include aspect-ratio(64,45);
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: block;
      margin-bottom: 5px;
    }

    li:before {
      margin-right: 5px;
      color: $gold-color;
    }

    span {
      font-family: $font;
    }
  }


}

/* for high resolution display */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .item.single { background-size: 320px 450px; }
  .item.double { background-size: 640px 450px; }

  .item.item-01 { background-image: url("../img/port/cambiance-ret.png"); }
  .item.item-02 { background-image: url("../img/port/bouwtekeningen-pakket-ret.png"); }
  .item.item-03 { background-image: url("../img/port/stockhambauer-ret.png"); }
  .item.item-04 { background-image: url("../img/port/negative-energie-and-wounds-ret.png"); }
  .item.item-05 { background-image: url("../img/port/mood-problems-ret.png"); }
  .item.item-06 { background-image: url("../img/port/the-spectrums-of-our-resources-ret.jpg"); }
  .item.item-07 { background-image: url("../img/port/decisions-the-definition-of-life-ret.png"); }
  .item.item-08 { background-image: url("../img/port/mature-boundary-ret.png"); }
  .item.item-09 { background-image: url("../img/port/observing-ego-ret.png"); }
  .item.item-10 { background-image: url("../img/port/anatomy-of-a-problem-ret.png"); }
  .item.item-11 { background-image: url("../img/port/spectrum-decision-making-ret.jpg"); }
  .item.item-12 { background-image: url("../img/port/oisterwijk-in-beeld-ret.png"); }
  .item.item-13 { background-image: url("../img/port/morito-ret.png"); }
  .item.item-14 { background-image: url("../img/port/the-excrement-ret.png"); }
  .item.item-15 { background-image: url("../img/port/kleur-en-stijladviezen-ret.png"); }
  .item.item-16 { background-image: url("../img/port/de-voorste-stroom-ret.png"); }
  .item.item-17 { background-image: url("../img/port/databases-ret.png"); }
  .item.item-18 { background-image: url("../img/port/game-programming-ret.png"); }
  .item.item-19 { background-image: url("../img/port/gamejam-ret.png"); }
  .item.item-21 { background-image: url("../img/develop-skills-ret.png"); }
  .item.item-22 { background-image: url("../img/design-skills-ret.png"); }

  .content .item-01-res { background-image: url("../img/res/responsive-cambiance-ret.png"); }
  .content .item-02-res { background-image: url("../img/res/responsive-bouwtekeningen-pakket-ret.png"); }
  .content .item-03-res { background-image: url("../img/res/responsive-stockhambauer-ret.png"); }
  .content .item-12-res { background-image: url("../img/res/responsive-oisterwijk-in-beeld-ret.png"); }
  .content .item-13-res { background-image: url("../img/res/responsive-morito-ret.png"); }
  .content .item-15-res { background-image: url("../img/res/responsive-kleur-en-stijladviezen-ret.png"); }
  .content .item-16-res { background-image: url("../img/res/responsive-de-voorste-stroom-ret.png"); }

}

@media
only screen and (min-width: 1024px) and (max-width: 1279px) {

  body {
    font-size: 14px;
  }

  #root { width: 1024px; }

  nav ul { font-size: 21px; }

  .content {

    .info span {
      font-size: 40px;
    }

    .single {
      width: 256px;
      background-size: contain;

    }
    .double {
      width: 512px;
      max-height: 360px;
      background-size: contain;
    }
  }
}

@media
only screen and (min-width: 768px) and (max-width: 1023px) {

  #root { width: 768px; }

  header {
    margin: 20px 0;
  }

  h1 { //mag weg wanneer het logo online is
    width: 200px;
    height: 91px;
    margin-left: 10px;
    background-size: 200px 91px;
  }

  nav ul { font-size: 15px; }

  .content {
    .info span {
      font-size: 30px;
    }

    h2 {
      font-size: 15px;
    }

    .single {
      width: 192px;
      background-size: contain;
    }
    .double {
      width: 384px;
      max-height: 270px;
      background-size: contain;
    }
    .double.text {
      font-size: 11px;
      padding: 10px;

      ul {
        margin-bottom: 15px;

        li {
          margin-bottom: 3px;
        }
      }
    }
  }
}

@media
only screen and (max-width: 767px) {

  #root {
    width: 100%;
    margin-bottom: 60px;
  }

  header {
    margin: 30px 0;
  }

  h1 { //mag weg wanneer het logo online is
    float: none;
    width: 100%;
    text-align: center;
    background-position-x: center;
    margin-left: 0;
  }

  nav {
    float: none;
    position: fixed;
    text-align: center;
    left: 0;
    z-index: 999;
    height: 60px;
    line-height: 80px;
    -webkit-box-shadow: 0px -5px 30px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px -5px 30px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px -5px 30px 0px rgba(50, 50, 50, 0.2);

    ul {
      background-color: $coconut-cream-color;

      .fa {
        font-size: 20px;
      }
      .menu-text {
        font-size: 12px;
      }
    }
  }

  .content {

    .info span {
      font-size: 40px;
    }

    .info, .video {
      float: none;
      width: 100%;
    }
    
    .item {
      width: 100%;
      background-size: contain;
    }
    .item.double, .double.text { width: 100%; height: auto; }
    .double.text { max-height: none;}
    .double.text h2 { text-align: center }
    .item.double:nth-child(odd) { background-color: $black-color; }
    .item.double:nth-child(even) { background-color: $coconut-cream-color; }
  }
}

@media
only screen and (max-width: 479px) {

  nav {
    height: 60px;
    line-height: 80px;

    ul {

      .fa {
        font-size: 18px;
      }
      .menu-text {
        font-size: 10px;
      }
      a {
        padding: 0 8px;
      }
    }
  }

  .content {
    .info span {
      font-size: 30px;
    }

    .item.single {
      width: 100%;
    }
    .double.text .veld, .double.text .gegevens {
      float: none;
      width: 100%;
      text-align: center;
    }
    .double.text .gegevens {
      margin-bottom: 10px;
    }
  }
}

@media
only screen and (max-width: 359px) {
  nav {

    ul {
      .menu-text {
        font-size: 9px;
      }
      a {
        padding: 0 5px;
      }
    }
  }

  .content {
    .info span {
      font-size: 25px;
    }
  }
}